
/* Sizing */

#cards-container {
    max-width: 960px;
}

.w-10 {
    width: 200px; 
}

p {
    padding: 0;
    margin: 0;
}


/* Text custom */
.fs-8 {
    font-size: 0.8rem;
}

.link-primary-c {
    color: #0072BA;
}

.link-primary-c:hover{
    color: #E39625;
}

/* Background custom */

.bg-tags {
 background-color: #E39625;
 color: white;
}

.bg-includes {
background-color: #738B9A;
color: white;
}

.btn-success {
    background-color: #6F9653;
    border: none;
}

.btn-danger {
    background-color: #B34121;
    border: none;
}

.bg-primary-c {
    background-color: #0072BA;
    color: white;
}

.title-color {
    color: #3D4043;
}

.spinner-color {
    color: #E39625;
}

header {
    height: 300px;
    background-image: url('./assets/EVISR6AU3VEKJIBPKJMLXSSMPI.avif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media(min-width: 700px) {

    .filters-c {
        display: flex;
    }

}


@media(max-width: 950px){
    
    #cards-container {
        justify-content: center;
    }
}
